<div class="container">
  <br />
  <h2>Reporte de Materiales</h2>
  <hr />
  <h5 *ngIf="subcontratistas && subcontratistas[0]">[{{subcontratistas[0].instalaciones.length}} instalaciones] ({{subcontratistas[0].ciudad}}) {{subcontratistas[0].nombre}}</h5>
  <!--<select class="form-control" (change)="subcontratistaChanged($event.target.value)" [(ngModel)]="selectedSupervisor">
    <option *ngFor="let s of subcontratistas" [ngValue]="s">[{{s.instalaciones.length}} instalaciones] ({{s.ciudad}}) {{s.nombre}}</option>
  </select>-->
  <div class="card">
    <h5 class="card-header">Materiales utilizados</h5>
    <table class="table table-bordered table-dark table-striped table-hover">
      <tr>
        <th>Cantidad</th>
        <th>Material</th>
        <th>Unidad</th>
      </tr>
      <tr *ngFor="let m of materials">
        <td><span class="badge badge-warning">{{m.quantity | number: '1.2-2'}}</span></td>
        <td>{{m.descripcion}}</td>
        <td>{{m.unidad}}</td>
      </tr>
    </table>
  </div>
</div>
