<div class="container">
  <br/>
  <h3>Formularios Llenados</h3>
  <a class="btn btn-primary" routerLink="/add_form">Agregar</a>
  <hr/>
  <div class="input-group mb-3" ngbDropdown>
    <div class="input-group-prepend">
      <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>{{queryType?.text || 'Buscar por'}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownConfig">
        <span class="dropdown-item" href="#" *ngFor="let item of searchQueryChild" (click)="queryType = item">{{item.text}}</span>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2" [(ngModel)]="query">
    <div class="input-group-append">
      <a class="input-group-text" id="basic-addon2" (click)="search()">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>

  <div>
    <button class="btn btn-warning btn-sm" [disabled]="page <= 1" (click)="prev()">Atrás</button>
    <b> -- Página {{page}} -- </b>
    <button class="btn btn-warning btn-sm" (click)="next()">Siguiente</button>
    <button class="btn btn-secondary btn-sm" (click)="showAll()">Mostrar Todos</button>
  </div>
  <small>Mostrando {{pagedForms.length}} registro(s)</small>
  <hr/>
  <table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col"># de Medidor</th>
      <th scope="col"># de Optimizador</th>
      <th scope="col">Georreferencia</th>
      <th scope="col">Dirección</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let form of pagedForms; let i = index">
      <tr>
        <th scope="row"><span *ngIf="form.user">{{form.user.name}} {{form.user.last_name}}</span></th>
        <td>{{form.medidor}}</td>
        <td>{{form.serie}}</td>
        <td>
          <a *ngIf="form.geolocation && form.geolocation.lat && form.geolocation.lng" href="https://www.google.com/maps/search/?api=1&query={{form.geolocation.lat}},{{form.geolocation.lng}}" target="_blank">
            Ver en Mapa <i class="fas fa-map-marker-alt"></i>
          </a>
        </td>
        <td>{{form.calle}} {{form.numero}}, {{form.colonia}}, {{form.ciudad}}</td>
        <td>
          <button class="btn btn-sm btn-primary" ngbTooltip="Ver" routerLink="/form/{{form.uid}}">
            <i class="fas fa-eye"></i>
          </button>
          <button class="btn btn-sm btn-secondary" ngbTooltip="Editar" routerLink="/edit_form/{{form.uid}}">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" ngbTooltip="Eliminar" (click)="remove(form)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

