<div class="container" *ngIf="form">
  <br />
  <b class="float-right">Enviado: {{form.uid | date: 'd/MM/yyy h:mm a'}}</b>
  <h3>Formulario #{{form.uid}}</h3>
  <button class="btn btn-dark" (click)="generateReport()">Descargar</button>
  <hr />
  <div class="row">
    <div class="col-md-5">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <b>Dirección: </b> {{form.calle}} {{form.numero}}, {{form.colonia}}, {{form.ciudad}}<br />
        <b>Serie Optimizador: </b> {{form.serie}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <b>Usuario: </b> {{form.nombre}}<br />
        <b>RPU: </b> {{form.rpu}}
        <b>Medidor: </b> {{form.medidor}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <span *ngIf="form.instalo"><b>Instaló: </b> {{form.instalo.nombre || form.instalo.name + ' ' + form.instalo.last_name}}</span><br />
        <b>Usuario App: </b> {{form.user.name}} {{form.user.last_name}}<br />
        <div *ngIf="form.superviso"><b>Supervisó: </b> {{form.superviso.name}} {{form.superviso.last_name}}</div>
      </div>
    </div>
  </div>

  <!--<iframe *ngIf="form.geolocation" [src]="sanitizer.bypassSecurityTrustResourceUrl('https://maps.google.com/maps?q='+form.geolocation.lat+','+form.geolocation.lng+'&hl=es;z=14&amp;output=embed')" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>-->
  <a *ngIf="form.geolocation && form.geolocation.lat && form.geolocation.lng" href="https://www.google.com/maps/search/?api=1&query={{form.geolocation.lat}},{{form.geolocation.lng}}" target="_blank">
    Ver en Google Maps <i class="fas fa-map-marker-alt"></i>
  </a>

  <div class="row">
    <div class="col-md-4">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <b class="center">Resistencia del Sistema de Tierras</b> <hr />
        Inicial: <b>{{form.tierra_inicial}} OHM</b><br />
        Final: <b>{{form.tierra_final}} OHM</b>
      </div>
    </div>
    <div class="col-md-4">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <b class="center">Voltaje</b> <hr />
        Inicial: <b>{{form.voltaje_inicial}} V</b><br />
        Final: <b>{{form.voltaje_final}} V</b>
      </div>
    </div>
    <div class="col-md-4">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <b class="center">Amperaje</b> <hr />
        Inicial: <b>{{form.amperaje_inicial}} A</b><br />
        Final: <b>{{form.amperaje_final}} A</b>
      </div>
    </div>
  </div>
  <hr />
  <h2>Materiales</h2>
  <b *ngIf="!form.current_materials">No se registraron materiales</b>
  <table *ngIf="form.current_materials" class="table table-bordered table-hover table-striped table-dark">
    <tr>
      <th>Cantidad</th>
      <th>Unidad</th>
      <th>Material</th>
    </tr>
    <ng-container *ngFor="let m of form.current_materials">
      <tr *ngIf="m.current_quantity">
        <td>{{m.current_quantity}}</td>
        <td>{{m.unidad}}</td>
        <td>{{m.descripcion}}</td>
      </tr>
    </ng-container>
  </table>
  <hr />
  <h2>Evidencia</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let p of form.pictures">
      <img [src]="p" class="framePicture img-fluid" />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-3" *ngIf="form.observaciones">
      <div>
        <b>Observaciones: </b> {{form.observaciones}}
      </div>
    </div>
    <div class="col-md-3" *ngIf="form.pintura">
      <div>
        <b>Pintura: </b> {{(form.pintura === 'si') ? 'Sí' : 'No'}}
      </div>
    </div>
    <div class="col-md-3" *ngIf="form.obra_civil">
      <div>
        <b>Obra Civil: </b> {{(form.obra_civil === 'si') ? 'Sí' : 'No'}}
      </div>
    </div>
    <div class="col-md-3" *ngIf="form.varilla">
      <div>
        <b>Varilla a Tierra: </b> {{(form.varilla === 'si') ? 'Sí' : 'No'}}
      </div>
    </div>
  </div>
  <h2>Firmas</h2>
  <div class="row">
    <div class="col-md-6 center" *ngIf="form.firmaTroy">
      <img [src]="form.firmaTroy" class="img-fluid" />
      <h4 *ngIf="form.superviso">{{form.superviso.name}} {{form.superviso.last_name}}</h4>
      <b>Supervisor Troy</b>
    </div>
    <div class="col-md-6 center" *ngIf="form.firmaCFE">
      <img [src]="form.firmaCFE" class="img-fluid" />
      <h4 *ngIf="form.CFENombre">{{form.CFENombre}}</h4>
      <b>Supervisor CFE</b> <br />
      RPE/RTT: <b *ngIf="form.CFERpe">{{form.CFERpe}}</b>
    </div>
  </div>
</div>
