<div class="container">
  <br *ngIf="(usuario && usuario.uid) || creating" />
  <div class="row" *ngIf="(usuario && usuario.uid) || creating">
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre(s)</label>
        <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="usuario.name" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Apellido(s)</label>
        <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="usuario.last_name" />
      </div>
      <div class="form-group">
        <label for="exampleInput2">Dirección</label>
        <input type="text" class="form-control" id="exampleInput2" [(ngModel)]="usuario.address" />
      </div>
      <div class="form-group">
        <label for="exampleInput9">Email</label>
        <input type="email" class="form-control" id="exampleInput9" [(ngModel)]="usuario.email" />
      </div>
      <div class="form-group">
        <label for="exampleInput7">Contraseña</label>
        <input type="password" class="form-control" id="exampleInput7" [(ngModel)]="usuario.password" />
      </div>
      <div class="form-group">
        <label for="exampleInput8">Repetir</label>
        <input type="password" class="form-control" id="exampleInput8" [(ngModel)]="usuario.repeat" />
      </div>
      <div class="form-group">
        <label for="exampleInput3">Teléfono</label>
        <input type="text" class="form-control" id="exampleInput3" [(ngModel)]="usuario.telefono" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleInput4"># del IMSS</label>
        <input type="text" class="form-control" id="exampleInput4" [(ngModel)]="usuario.imss" />
      </div>
      <div class="form-group">
        <label for="exampleInput10">Tipo de usuario</label>
        <select class="form-control" id="exampleInput10" [(ngModel)]="usuario.tipo">
          <option value="contratista">Contratista</option>
          <option value="cfe">CFE</option>
          <option value="troy">Troy T&D</option>
        </select>
      </div>
      <div class="form-group" *ngIf="usuario.tipo === 'cfe'">
        <label for="exampleInput110">RPE/RTT</label>
        <input type="text" class="form-control" id="exampleInput110" [(ngModel)]="usuario.RPE" />
      </div>
      <div class="form-group">
        <label for="exampleInput5">Es supervisor?</label>
        <select class="form-control" id="exampleInput5" [(ngModel)]="usuario.is_supervisor">
          <option value="si">Sí</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="form-group" *ngIf="usuario.is_supervisor === 'si'">
        <label for="exampleInput51">Compañía <small *ngIf="usuario.company">({{usuario.company.nombre}} - {{usuario.company.ciudad}})</small></label>
        <select class="form-control" id="exampleInput51" [(ngModel)]="usuario.company">
          <option *ngFor="let u of subcontratistas" [ngValue]="u">{{u.nombre}} ({{u.ciudad}})</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInput6">Supervisor</label>
        <select class="form-control" id="exampleInput6" [(ngModel)]="usuario.supervisor">
          <option *ngFor="let u of usuarios" value="{{u.uid}}">{{u.name}} {{u.last_name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInput11">Es Admin?</label>
        <input type="checkbox" id="exampleInput11" [(ngModel)]="usuario.admin" />
      </div>
      <hr />
      <button class="btn btn-primary" (click)="save()">Guardar</button>
      <button class="btn btn-default" (click)="cancel()">Cancelar</button>
    </div>
  </div>
  <br />
  <button class="btn btn-primary btn-sm float-right" *ngIf="!((usuario && usuario.uid) || creating)" (click)="creating = true">
    <i class="fas fa-plus"></i> Agregar Nuevo
  </button>
  <h3>Usuarios</h3>
  <hr />

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Buscar" aria-describedby="basic-addon2" [(ngModel)]="query">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col"># de IMSS</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Dirección</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let usuario of usuarios | search: query">
      <th scope="row">{{usuario.name}} {{usuario.last_name}}</th>
      <td>{{usuario.imss}}</td>
      <td>{{usuario.telefono}}</td>
      <td>{{usuario.address}}</td>
      <td>
        <button class="btn btn-sm btn-primary" ngbTooltip="Ver/Editar" (click)="select(usuario)">
          <i class="fas fa-eye"></i>
        </button>
        <button class="btn btn-sm btn-danger" ngbTooltip="Eliminar" (click)="remove(usuario)">
          <i class="fas fa-trash"></i>
        </button>
        <button class="btn btn-sm btn-dark" ngbTooltip="Reset Password" (click)="reset(usuario)">
          <i class="fas fa-key"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

